body {
  font-family: Arial, sans-serif;
  margin: 15px;
  background-color: #f4f4f4;
  }
  
.titulo {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
  }
  
.barra-pesquisa {
    width: 400px;
    height: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
.botao-pesquisar {
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

#search{
    backdrop-filter: blur(10px);
    opacity: .9;
    background-color: cadetblue;
    margin: 10% 25% 0% 25% ;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 1px 3px 3px 3px black;
    padding-left: 20px;
  }

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
}

.placa {
  width: 300px;
  margin-top: 20px;
}
.placa img {
  width: 300px;
  height: auto;
}
.numero-placa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#map-container{
  width: 100%; 
  height: 100%;
  padding-top: 10px;
}

#cabecalho{
  width: 100%;
}

/* Estilo para a caixa scrollável */
.caixa-scroll {
  max-height: 400px; /* Altura máxima da caixa scrollável */
  overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
  margin: 5% 25% 0% 25%;
}

/* Estilo para cada item de lista */
.item-lista {
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease-in-out;
}

/* Estilo para o retângulo ao passar o mouse */


/* Estilo para a imagem */
.imagem {
  width: 150px;
  height: auto;
  border-right: 1px solid #ccc;
}

/* Estilo para o conteúdo */
.conteudo {
  flex: 1;
  padding: 10px;
}

.subtitulos {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

/* Estilo para o subtítulo */
.subtitulo {
  font-size: 16px;
  margin-right: 25px;
  margin-left: 25px;
  color: #666;
}

.selecionado {
  background-color: #cbcbcb; /* Levemente cinza */
}