<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterSCity</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="titulo">InterSCity - Localização de Veículo</h1>
    <div id="search">
        <form action="/" method="POST">
            <input type="text" class="barra-pesquisa" name="placa" required placeholder="Digite a placa">
            <a href="/rastreio">
                <button class="botao-pesquisar" value="Pesquisar">Pesquisar</button>
            </a>
        </form>
    </div>
    
    
</body>
