<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterSCity</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="titulo">InterSCity - Localização de Veículo</h1>
    <div id="search">
        <form id="pesquisar" action="/rastreio" method="GET">
            <input type="text" class="barra-pesquisa" name="placa" required placeholder="Digite as placas separadas por ;">
            <button class="botao-pesquisar" value="Pesquisar" onclick="pesquisar()">Pesquisar</button>
        </form>
    </div>

    <div class="caixa-scroll">
        <!-- Itens de Lista -->
        {% for vehicle in todos_carros %}
        <a href="#" class="item-lista" onclick="toggleSelecao(this)">
            <!-- Imagem -->
            <img src="https://via.placeholder.com/200x150" alt="Imagem" class="imagem">

            <!-- Conteúdo -->
            <div class="conteudo">
                <!-- Título -->
                <div class="titulo">{{ vehicle.placa }}</div>

                <!-- Subtítulo -->
                <div class="subtitulos">
                    <div class="subtitulo">{{ vehicle.placa }}</div>
                    <div class="bolinha">-</div>
                    <div class="subtitulo">{{ vehicle.modelo }}</div>
                    <div class="bolinha">-</div>
                    <div class="subtitulo">{{ vehicle.ano }}</div>
                    <div class="bolinha">-</div>
                    <div class="subtitulo">{{ vehicle.marca }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
        <!-- Repita este bloco para adicionar mais itens -->
    </div>

    <script>
        const itensSelecionados = [];

        function toggleSelecao(elemento) {
            elemento.classList.toggle("selecionado");

            // Adicione ou remova um parâmetro à lista, dependendo da seleção
            const titulo = elemento.querySelector('.titulo').textContent;
            if (elemento.classList.contains("selecionado")) {
                console.log("Adicionar parâmetro à lista:", titulo);
                itensSelecionados.push(titulo);
            } else {
                console.log("Remover parâmetro da lista:", titulo);
                const index = itensSelecionados.indexOf(titulo);
                if (index !== -1) {
                    itensSelecionados.splice(index, 1);
                }
            }

            // Exiba a lista de itens selecionados
            console.log("Itens Selecionados:", itensSelecionados);
        }

        function limparLista() {
            // Limpa todos os itens da lista
            itensSelecionados.length = 0;
            console.log("Lista Limpa");
        }

        function removerDuplicatas(stringComSeparador) {
        // Divide a string em partes usando o ";" como separador
        const partes = stringComSeparador.split(';').filter(Boolean);

        // Remove duplicatas mantendo apenas a primeira ocorrência de cada parte
        const partesUnicas = [...new Set(partes)];

        // Junta as partes novamente usando o ";" como separador
        const resultado = partesUnicas.join(';');

        return resultado;
        }

        function pesquisar() {
            // Obtém o valor do campo de formulário
            valorCampo = document.getElementById('pesquisar').elements['placa'].value.trim();

            // Adiciona o valor do campo de formulário à lista se não estiver vazio
            if (valorCampo !== "") {
                itensSelecionados.push(valorCampo + ';');
            }

            // Remove placas duplicadas
            itensUnicos = [];
            for (let i = 0; i < itensSelecionados.length; i++) {
                if (!itensUnicos.includes(itensSelecionados[i])) {
                    itensUnicos.push(itensSelecionados[i]);
                }
            }

            // Construa a string de parâmetros separando os itens selecionados por ;
            parametros = itensUnicos.join(';');
            parametros = removerDuplicatas(parametros)
            console.log("Parametros: ", parametros);
            // Adicione a string de parâmetros ao campo de formulário
            document.getElementById('pesquisar').elements['placa'].value = parametros;
            
            limparLista();

            // Submeta o formulário
            if (parametros !== "") {
                document.getElementById('pesquisar').submit();
                document.getElementById('pesquisar').elements['placa'].value = "";
            }
            
        }
    </script>

</body>
</html>
