<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterSCity</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="cabecalho">
        <h1>Informações do Veículo</h1>
        {% for vehicle in vehicle_rows %}
        <table border="1">
            
            <thead>
                
                <tr>
                    <th style="background-color: {{ vehicle.cor_marcador }};">Modelo</th>
                    <th style="background-color: {{ vehicle.cor_marcador }};">Marca</th>
                    <th style="background-color: {{ vehicle.cor_marcador }};">Ano</th>
                    <th style="background-color: {{ vehicle.cor_marcador }};">Placa</th>
                </tr>
            </thead>
            <tbody>
                <!-- Espaço reservado para as linhas dos veículos -->
                    <tr>
                        <td>{{ vehicle.modelo }}</td>
                        <td>{{ vehicle.marca }}</td>
                        <td>{{ vehicle.ano }}</td>
                        <td>{{ vehicle.placa }}</td>
                    </tr>
                
            </tbody>
            {% endfor %}
    </table>

    </div>
    
    <div id="map-container">
        {{ map_html | safe }}
    </div>
</body>
