<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterSCity</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div id="cabecalho">
        <h2>InterSCity - Resultados da Pesquisa</h2>

        {% for vehicle in vehicle_rows %}
            <table border="1">
                
                <thead>
                    
                    <tr>
                        <th style="background-color: {{ vehicle.cor_marcador }};">Modelo</th>
                        <th style="background-color: {{ vehicle.cor_marcador }};">Marca</th>
                        <th style="background-color: {{ vehicle.cor_marcador }};">Ano</th>
                        <th style="background-color: {{ vehicle.cor_marcador }};">Placa</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Espaço reservado para as linhas dos veículos -->
                        <tr>
                            <td>{{ vehicle.modelo }}</td>
                            <td>{{ vehicle.marca }}</td>
                            <td>{{ vehicle.ano }}</td>
                            <td>{{ vehicle.placa }}</td>
                        </tr>
                        
                </tbody>
            </table>
            <button class="botao-placa" data-placa="{{ vehicle.placa }}">Carregar/Esconder Endereços</button>
            <div class="historico-localizacoes" style="display: none; background-color: white;"></div>
        {% endfor %}
        
    </div>
    
    <div id="map-container">
        {{ map_html | safe }}
    </div>
    <script>
        // Armazenar dados localmente
        var dadosLocalizados = {};

        $('.botao-placa').on('click', function() {
            var placa = $(this).data('placa');
            var historicoDiv = $(this).next('.historico-localizacoes');

            // Verificar se já temos os dados localmente
            if (dadosLocalizados[placa]) {
                // Usar os dados armazenados localmente
                exibirDados(dadosLocalizados[placa], historicoDiv);
            } else {
                // Fazer a requisição AJAX para o Flask com a informação da placa
                $.get('/historico-enderecos', { placa: placa }, function(data) {
                    // Armazenar os dados localmente
                    dadosLocalizados[placa] = data;

                    // Exibir os dados
                    exibirDados(data, historicoDiv);
                });
            }
        });

        function exibirDados(data, historicoDiv) {
            var listaEnderecos = '<ul>';
            for (var i = 0; i < data.length; i++) {
                listaEnderecos += '<li>' + data[i] + '</li>';
            }
            listaEnderecos += '</ul>';
            
            // Atualizar a parte HTML da página com os dados recebidos
            historicoDiv.html(listaEnderecos);

            // Alternar a exibição do histórico de localizações
            historicoDiv.slideToggle();
        }
    </script>
</body>
</html>
