<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterSCity</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="cabecalho">
        <h1>Informações do Veículo</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Ano</th>
                    <th>Placa</th>
                </tr>
            </thead>
            <tbody>
                <!-- Espaço reservado para as linhas dos veículos -->
                    <tr>
                        <td>{{ vehicle_rows.modelo }}</td>
                        <td>{{ vehicle_rows.marca }}</td>
                        <td>{{ vehicle_rows.ano }}</td>
                        <td>{{ vehicle_rows.placa }}</td>
                    </tr>
                
            </tbody>
    </table>

    </div>
    
    <div id="map-container">
        {{ map_html | safe }}
    </div>
</body>
